<a href="https://colab.research.google.com/github/arghac14/Yield-prediction-2/blob/master/DatasetExploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [11]:
data={
    'District':['Darjeeling','Jalpaiguri','Koch Bihar','Uttar Dinajpur','Dakshin Dinajpur','Maldah','Murshidabad','Nadia','Birbhum','Bardhaman','Bankura','Purulia','Hugli','Haora','North 24 Parganas','South 24 Parganas','Kolkata','Medinipur'],
    'Rainfall':[174.9025,195.2306,177.3472,128.3008,124.4917,114.9917,117.4706,120.3923,115.0348,118.0904,117.6115,109.8540,128.4050,133.5379,134.0477,116.9631,132.1458,130.8080],
    'Temperature(avg)':[17.5,26.3,27.5,26.2,26.6,30.4,28.2,29.3,30.6,32.3,31.6,31.7,30.5,30.6,31.2,27.1,31.6,30.75],
    'Humidity':[92,94,96,72,74,87,83,84,71,77,71,85,76,69,68,79,66,76],

}
df=pd.DataFrame(data)
df

             District  Rainfall  Temperature(avg)  Humidity
0          Darjeeling  174.9025             17.50        92
1          Jalpaiguri  195.2306             26.30        94
2          Koch Bihar  177.3472             27.50        96
3      Uttar Dinajpur  128.3008             26.20        72
4    Dakshin Dinajpur  124.4917             26.60        74
5              Maldah  114.9917             30.40        87
6         Murshidabad  117.4706             28.20        83
7               Nadia  120.3923             29.30        84
8             Birbhum  115.0348             30.60        71
9           Bardhaman  118.0904             32.30        77
10            Bankura  117.6115             31.60        71
11            Purulia  109.8540             31.70        85
12              Hugli  128.4050             30.50        76
13              Haora  133.5379             30.60        69
14  North 24 Parganas  134.0477             31.20        68
15  South 24 Parganas  116.9631             27.10        79
16            Kolkata  132.1458             31.60        66
17          Medinipur  130.8080             30.75        76

In [10]:
l=[92,94,96,72,74,87,83,84,71,77,71,85,76,69,68,66,67,79,66,76]
len(l)

20