<a href="https://colab.research.google.com/github/arghac14/Yield-prediction-2/blob/master/DatasetExploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [8]:
data={
    'District':['Darjeeling','Jalpaiguri','Koch Bihar','Uttar Dinajpur','Dakshin Dinajpur','Maldah','Murshidabad','Nadia','Birbhum','Bardhaman','Bankura','Purulia','Hugli','Haora','North 24 Parganas','South 24 Parganas','Kolkata','Medinipur'],
    'Rainfall':[174.9025,195.2306,177.3472,128.3008,124.4917,114.9917,117.4706,120.3923,115.0348,118.0904,117.6115,109.8540,128.4050,133.5379,134.0477,116.9631,132.1458,130.8080],
    'Temperature(avg)':[17.5,26.3,27.5,26.2,26.6,30.4,28.2,29.3,30.6,32.3,31.6,31.7,30.5,30.6,31.2,27.1,31.6,30.75],
    'Humidity':[92,94,96,72,74,87,83,84,71,77,71,85,76,69,68,79,66,76],
     'Area(sq km)':[3149,6227,3387,2320,2219,3733,5324,3927,4545,7024,6882,6259,3149,1467,4094,9960,185,4061],
    'Soil pH':[5.92,4.62,5.2,5.83,5.87,6.0,7.05,6.0,5.75,6.5,6.23,6.35,6.12,6.02,7.12,7.38,7.36,6.12],
    'Production(Kg/Ha)':[1353,1372,1530,3140,2107,2252,2475,2705,2743,2842,2446,1718,2514,2031,2482,1917,0,2198], #Wrong
}
df=pd.DataFrame(data)
df

             District  Rainfall  ...  Soil pH  Production(Kg/Ha)
0          Darjeeling  174.9025  ...     5.92               1353
1          Jalpaiguri  195.2306  ...     4.62               1372
2          Koch Bihar  177.3472  ...     5.20               1530
3      Uttar Dinajpur  128.3008  ...     5.83               3140
4    Dakshin Dinajpur  124.4917  ...     5.87               2107
5              Maldah  114.9917  ...     6.00               2252
6         Murshidabad  117.4706  ...     7.05               2475
7               Nadia  120.3923  ...     6.00               2705
8             Birbhum  115.0348  ...     5.75               2743
9           Bardhaman  118.0904  ...     6.50               2842
10            Bankura  117.6115  ...     6.23               2446
11            Purulia  109.8540  ...     6.35               1718
12              Hugli  128.4050  ...     6.12               2514
13              Haora  133.5379  ...     6.02               2031
14  North 24 Parganas  134.0477  ...     7.12               2482
15  South 24 Parganas  116.9631  ...     7.38               1917
16            Kolkata  132.1458  ...     7.36                  0
17          Medinipur  130.8080  ...     6.12               2198

[18 rows x 7 columns]

20