<a href="https://colab.research.google.com/github/disha2sinha/Yield-prediction-2/blob/master/DatasetExploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [5]:
data={
    'District':['Darjeeling','Jalpaiguri','Koch Bihar','Uttar Dinajpur','Dakshin Dinajpur','Maldah','Murshidabad','Nadia','Birbhum','Bardhaman','Bankura','Purulia','Hugli','Haora','North 24 Parganas','South 24 Parganas','Kolkata','Medinipur'],
    'Rainfall':[174.9025,195.2306,177.3472,128.3008,124.4917,114.9917,117.4706,120.3923,115.0348,118.0904,117.6115,109.8540,128.4050,133.5379,134.0477,116.9631,132.1458,130.8080],
    ''
}
df=pd.DataFrame(data)
df

             District  Rainfall
0          Darjeeling  174.9025
1          Jalpaiguri  195.2306
2          Koch Bihar  177.3472
3      Uttar Dinajpur  128.3008
4    Dakshin Dinajpur  124.4917
5              Maldah  114.9917
6         Murshidabad  117.4706
7               Nadia  120.3923
8             Birbhum  115.0348
9           Bardhaman  118.0904
10            Bankura  117.6115
11            Purulia  109.8540
12              Hugli  128.4050
13              Haora  133.5379
14  North 24 Parganas  134.0477
15  South 24 Parganas  116.9631
16            Kolkata  132.1458
17          Medinipur  130.8080